/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
html,
body {
    margin: 0;
    font-size: 100%;
    background: #fff;
	font-family: 'Cabin', sans-serif;
}

html {
  scroll-behavior: smooth;
}
body a {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
	font-family: 'Cabin', sans-serif;
}

body img {
    max-width: 100%;
}

a:hover {
    text-decoration: none;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="text"]:focus,
input[type="email"]:focus,
input[type="search"]:focus,
a:focus{
	border:none;
	box-shadow: none;
	outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    letter-spacing: 1px;
}
/*li {
    list-style-type: none;
}*/
p {
    margin: 0;
    font-size: 1em;
    line-height: 1.9em;
    letter-spacing: 1px;
}

ul {
    margin: 0;
    padding: 0;
}


/* header */

/* CSS Document */
header {
    position: absolute;
    position: fixed;
    z-index: 9;
	width: 100%;
	background: hsl(205, 85.3%, 43%);
	background: hsl(205, 85.3%, 99.5%);
	padding-top:1rem !important;
	padding-bottom:1rem !important;
}

.toggle,
[id^=drop] {
	display: none;
}

/* Giving a background-color to the nav container. */
nav { 
	margin:0;
	padding: 0;
	float: right;
}
.clear {
    clear: both;
}
div#logo {
    float: left;
}

#logo a {
	float: left;
    font-size: .8em;
    text-transform: capitalize;
    display: initial;
    margin: 0;
    letter-spacing: 1px;
	/* color: #fff; */
	color: #09395c;	
    font-weight: 800;
    padding: 3px 0;
}
#logo a span {
    color: #fff;
	
}


/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
	content:"";
	display:table;
	clear:both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
	float: right;
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
	}
	
/* Positioning the navigation items inline */
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
	}

/* Styling the links */
nav a {
	color: #0f75bd;
	color: hsl(205, 85.3%, 43%);
    text-transform: capitalize;
    font-size: 16px;
    letter-spacing: 1px;
	padding: 10px 10px;
}

.img_span img{padding-bottom: 6px;}
nav ul li ul li:hover { background: #f8f9fa; }

/* Background color change on Hover */
nav a:hover { 
	color: #FFF;
	color: hsl(205, 85.3%, 65%);
}
nav ul.inner-ul li a:hover { 
	color: #333;	
}
.menu li.active  a{ 
	color: #333;	
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
	display: none;
	position: absolute; 
	/* has to be the same number as the "line-height" of "nav a" */
	top: 30px; 
    background: #fff;
    padding: 10px;
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}
nav ul ul li a {
    color: #333;
    padding: 5px 10px;
    display: block;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
	position: relative;
	top:-60px;
	/* has to be the same number as the "width" of "nav ul ul li" */ 
	left:170px; 
}

	
/* Change ' +' in order to change the Dropdown symbol */
li > a:only-child:after { content: ''; }


/* Media Queries
--------------------------------------------- */

@media all and (max-width : 800px) {
	nav { 
		float: none;
	}

	div#logo {
		float: none;
	}
	#logo {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}

	nav {
		margin: 0;
	}
	nav a {
		color: #333;
	}

	/* Hide the navigation menu by default */
	/* Also hide the  */
	.toggle + a,
	.menu {
		display: none;
	}

	/* Stylinf the toggle lable */
	.toggle {
		display: block;
		padding: 8px 15px;
		font-size: 17px;
		text-decoration: none;
		border: none;
		float: right;
		background-color: #fff;
		color: hsl(205, 85.3%, 43%);
	}
	.menu .toggle {
		float: none;
		text-align: center;
		margin: auto;
		width: 30%;
		padding: 5px;
		font-weight: normal;
		font-size: 15px;
		letter-spacing: 1px;
	}

	.toggle:hover {
		color:#333;
		background-color: #fff;
	}

	/* Display Dropdown when clicked on Parent Lable */
	[id^=drop]:checked + ul {
		display: block;
		background: #fff;
		padding: 15px 0;
		text-align: center;
		width: 100%;
	}

	/* Change menu item's width to 100% */
	nav ul li {
		display: block;
		width: 100%;
		padding: 5px 0;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: transparent;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:#FFF;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #fff; 
	}
	nav ul ul li a {
		font-size: 15px;
	}
	ul.inner-ul{
		padding: 0!important;
	}
	/* Hide Dropdowns by Default */
	nav ul ul {
		float: none;
		position:static;
		color: #ffffff;
		/* has to be the same number as the "line-height" of "nav a" */
	}
		
	/* Hide menus on hover */
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	/* Fisrt Tier Dropdown */
	nav ul ul li {
		display: block;
		width: 100%;
		padding: 0;
	}

	nav ul ul ul li {
		position: static;
		/* has to be the same number as the "width" of "nav ul ul li" */ 

	}

}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
	}

}
.user span.fa {
}
.login-icon a,.login-icon a:hover {
    border: 2px solid #fff;
    padding: 0.4em 1.7em;
    color: #6a67ce;
    font-weight: 500;
    letter-spacing: 1px;
    display: block;
    font-size: 1em;
    background: #fff;
    box-shadow: 0 0px 45px rgba(0, 0, 0, .2);
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
/*-- //header --*/


/*--/banner-info--*/

.banner {
	background: #6a67ce;
	background: #00b0f0;
    position: relative;
	z-index: 1;
	background: url(../images/hero.jpg) no-repeat center;
    background-size: cover;
}
.banner{position: relative;}
.banner:before{
	/* background: hsl(205, 85.3%, 43%); */
	background: rgba(0,176,240,0.25);
	background: rgba(0,176,240,0.45);
	position: absolute;
	content: " ";
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.banner-info-grid{
	padding: 15px 30px;
	z-index: 10;
	position: relative;
}
.banner-info-grid:after{
	position: absolute;
	border-radius: 8px;
	content:" ";
	width:100%;
	z-index: -1;
	height:100%;
	left:0;
	top:0;
	/* background: rgba(0,176,240,0.85); */
	background: hsl(205,82.2%,19.8%);
	background: hsl(205, 85.3%, 43%);
	/* background: rgba(0,0,0,0.75); */
}
.banner-info-grid h2 {
    color: #fff;
    display: inline-block;
    font-size: 2.8em;
    text-transform: capitalize;
	line-height: 65px;
	line-height: 1.4;
	color:hsl(205, 70.3%, 100%);
	letter-spacing: 1px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
}
.banner-info-grid p {
    font-size: 18px;
    color: #ddd;
	color: #ffffff;
	color: hsl(205,82.2%,94.8%);
	color:hsl(205, 70.3%, 95%);
    margin: 1em 0;
}
.slider-info a.btn {
    background: none;
    padding: 10px 25px;
    color: #fff;
    border: 2px solid #fff;
    font-size: 15px;
    letter-spacing: 1px;
    border-radius: 0px;
	-webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.slider-info a.btn:hover {
    opacity:0.8;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.banner-text {
    padding: 14vw 0 7vw;
}
.banner-image h4 {
    font-size: 20px;
}

/*-- //banner --*/

/*-- popup --*/
.popup-effect {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0ms;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
}

.popup-effect:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    background: #fff;
    border-radius: 4px;
    max-width: 500px;
    position: relative;
    margin: 8em auto;
    padding: 3em 2em;
    z-index: 999;
}
.popup p {
    font-size: 15px;
    color: #777;
}

.popup .close {
    position: absolute;
    top: 10px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.popup iframe {
    width: 100%;
    height: 250px;
    border: none;
}
.login .btn {
    border: 2px solid #6a67ce;
    background: #6a67ce;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 15px;
    border-radius: 0px;
	-webkit-border-radius: 0px;
    -o-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    padding: 8px 25px;
}
.login .btn:hover {
    opacity: 0.9;
}
.login p a {
    font-size: 14px;
    color: #999;
}
.login label {
    font-size: 15px;
    color: #666;
    letter-spacing: .5px;
}

/*-- //popup --*/

/*-- about --*/
.about-text h3{
    font-size: 27px;
    font-weight: 600;
    color: #333;
    line-height: 38px;
}
	
.about-text p {
    font-size: 16px;
    color: #777;
}
.about-img img{
}
.about-left h4 {
    font-size: 40px;
    font-weight: 600;
    color: #ff6c5f;
}
.about-left h4 span {
    font-size: 16px;
    color: #666;
    font-weight: normal;
}
.about_container_bg{
	background-color: #fafafa;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23d5e6eb' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23dcedf2' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23dae8ec' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23e3f1f5' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23dfeaed' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23eaf4f7' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23e5ebed' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23f1f8fa' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23eaedee' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23f8fbfc' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23efefef' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23ffffff' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
	padding-top:80px;
	padding-bottom:80px;
}
.about_container{
	display:grid;
	display:-moz-grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 1fr;
}
.about_item,
.core_value_item,
.process_item{
	background: #ffffff;
	border:1px solid #efefef;
	padding:20px 30px;
	transition: all 0.43s;
	border-radius: 5px;
}
.about_item:hover{
	transition: all 0.43s;
	box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .1);
}
.about_item p{
color:#14212b;
}
.about_item .about_title{
	font-size: 18px;
	font-weight: bold;
	color: #01304c;
	position: relative;
	width:100%;
	padding-bottom: 3px;
	margin-bottom:20px;
}
.about_item .about_title::after{
	position: absolute;
	width:10%;
	content:" ";
	border-bottom:4px solid #47b1f0;
	transition: all 0.43s;
	bottom: 0;
	left:0;
}
.about_item:hover .about_title::after{
	transition: all 0.43s;
	width:25%;
}
.core_value_title{
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: #01304c;
	padding-bottom: 40px;
}
.core_value_container{
	display:grid;
	display:-moz-grid;
	grid-gap: 20px;
	padding-bottom: 80px;
	grid-template-columns: repeat(4, 1fr);
}
.core_value_item{
	transition: all 0.43s;
	position: relative;
}
.core_value_item:after{
	border-bottom:5px solid #47b1f0;
	position: absolute;
	content:" ";
	width:100%;
	bottom:0;
	transition: all 0.43s;
	border-radius:0 0 5px 5px;
	left:0;
}
.core_value_item:hover{
	top:3px;
	box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .1);
	transition: all 0.43s;
}
.core_value_item:hover:after{
	transition: all 0.43s;
	width:20%;
	border-radius:0 0 0 5px;
}
.core_value_item .svg_ svg{
	fill:#47b1f0;
	stroke:#47b1f0;
}
.core_value_item ._span{
	font-size: 1rem;
	padding-left:5px;
	font-weight: bold;
}
.process_{
	text-align: center;
	width: 80%;
	left:10%;
	position: relative;
	padding-bottom: 60px;
}
.process_ p{
	line-height: 1.5;
	color: #5e666d;
}
.process_ .core_value_title{color: #01304c;}
.process_ .core_value_title{
	padding-bottom: 20px;
}
/*-- about --*/
/*-- our service --*/
.process_grids{
	display: -moz-grid;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3,1fr);
}
.process_item{
	background: #fafafa;
}
.process_grids ul{
	list-style-type: none;
}
.process_grids ul li{
	position: relative;
	padding-left:25px;
	line-height: 1.3;
	padding-bottom: 12px;
	color:#6e7e84;
}
.process_grids ul li:before{
	position: absolute;
	content: "➣";
	left:0;
	top:0;
	color:#47b1f0;
	color:#3d8fbf;
}
.process .process_grids .process_item .process_title{
	font-size: 18px;
    font-weight: bold;
	color: #01304c;
	color: #3f535f;
	padding-bottom: 5px;
	padding-top: 5px;
	margin-bottom: 25px;
	position: relative;
	line-height: 1.3;
}
.process .process_grids .process_item .process_title:after{
	content:" ";
	width:20%;
	position: absolute;
	left:0;
	bottom:0;
	border-bottom: 4px solid #3d8fbf;
}
.process_item svg{
	width:40px;
	height:40px;
	fill:#0e78b7;
}
/*-- end of our service --*/

/*-- why choose us --*/
h2.heading,h3.heading {
    font-size: 45px;
	color: #333;
	font-size: 36px;
    color: #0b304c;
    text-transform: capitalize;
    letter-spacing: 0;
}
.choose,.video{
	background: #f8f9fa;
}
.f1 h3 {
    font-size: 25px;
    font-weight: 600;
    color: #333;
    letter-spacing: 1px;
}
.f1 p {
    font-size: 16px;
    color: #777;
}
.f1 span.fa{
    text-align: center;
    background: #f3f3f3;
    width: 65px;
    height: 65px;
    line-height: 65px;
}
.icon1 span.fa{
	color: #ff4f81;
    font-size: 30px;
    line-height: 65px;
}
.icon2 span.fa{
	color: #00aeff;
    font-size: 30px;
    line-height: 65px;
}
.icon3 span.fa{
	color: #2dde98;
    font-size: 30px;
    line-height: 65px;
}

.icon4 span.fa{
	color: #fe5000;
    font-size: 30px;
    line-height: 65px;
}
.f1{
    box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .1);
	background: #fff;
}
/*-- why choose us --*/

/*-- partners --*/
.partners_container{
	display: -moz-grid;
	display: grid;
	grid-gap: 20px;
	padding-left:60px;
	padding-right:60px;
	grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
}
.partner_logos img{
	width:150px;
	filter: grayscale(80%);
	border-radius:4px;
	transition: all 0.43s;
	border:1px solid #efefef;
}
.partner_logos{
	top:0px;
	transition: all 0.43s;
	position: relative;
}
.partner_logos:hover{
	transition: all 0.43s;
	top:4px;
}
.partner_logos img:hover{
	box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .1);
	transition: all 0.43s;
	filter: grayscale(10%);
}
ul.partners-icon li span.fa {
    font-size: 3em;
    color: #eee;
}
.partners{ 
	background-color: #fafafa;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23fbfbfb' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%23fcfcfc' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23fcfcfc' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23fdfdfd' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23fefefe' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23fdfdfd' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23fcfcfc' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23fcfcfc' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23fbfbfb' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23fafafa' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
	background-attachment: fixed;
	background-size: cover;
}
.partners h3.heading {
	color: #fff;
}
.core_value_title_partners{padding-bottom:30px;}
/*-- //partners --*/

/*-- offered services --*/

h4.w3layouts_pvt-head {
	text-transform: capitalize;
	font-weight: bold;
	font-size: 2em;
	color: #0068b7;
}

span.title-icon-wthree {
	color: #ffc107;
	font-size: 1em;
}

.title-sec-w3layouts_pvt p {
	color: #333;
}

.title-sec-w3layouts_pvt {
	border-left: 5px #bdbdbd solid;
	padding-left: 1em;
}

h4.feed-title {
    font-size: 25px;
    color: #333;
    letter-spacing: 1px;
}

a.btn-w3layouts_pvt span {
	margin-left: 5px;
	color: #ffc107;
	font-size: 1em;
}

a.btn-w3layouts_pvt:hover {
	color: #0068b7;
	letter-spacing: 0.5px;
}

.ab-pvtw3 p {
	width: 478px;
}

a.btn-w3layouts_pvt {
	display: inline-block;
	margin-top: 1em;
	color: #000;
	font-weight: 600;
}

li, .process p {
    font-size: 16px;
    color: #777;
}
/* //offered services */

/*-- services page --*/
.serv-grids h3 {
    font-size: 20px;
    color: #333;
    letter-spacing: 1px;
    line-height: 30px;
    text-transform: capitalize;
}
.serv-grids span.fa{
    text-align: center;
    font-size: 30px;
    background: #ffff;
    height: 65px;
    width: 65px;
    line-height: 65px;
	box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .1);
}

/*-- //services page --*/

/*-- projects --*/

.gal-img {
    margin-bottom: 1em;
    padding-right: 0px;
}
/* popup */
.pop-overlay {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0ms;
    visibility: hidden;
    opacity: 0;
    z-index: 999;
}

.pop-overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    background: #fff;
    -webkit-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    max-width: 500px;
    position: relative;
    margin: 8em auto;
    padding: 3em 2em 2em;
}

.popup .close {
    position: absolute;
    top: 5px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

/* //popup */
/*-- //projects --*/

/*-- Testimonials --*/
.testi {
    background: url(../images/bg.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}
.testimonials blockquote {
    background: #fff none repeat scroll 0 0;
    border: medium none;
    color: #666;
    display: block;
    font-size: 14px;
    padding: 30px 30px;
    position: relative;
}
blockquote span.fa {
    color: #009688;
}
.testimonials .carousel-info img {
    border-radius: 150px !important;
    height: 80px;
    width: 80px;
}
.testimonials .carousel-info {
    overflow: hidden;
}
.testimonials .carousel-info img {
    margin-right: 15px;
}
.testimonials .carousel-info span {
    display: block;
}
.testimonials span.testimonials-name {
    color: #fff;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 500;
    margin: 15px 0 0px;
}
.testimonials span.testimonials-post {
    color: #eee;
    font-size: 14px;
    letter-spacing: 1px;
}
/*-- //testimonials --*/


/*-- offered services bottom --*/
h3.tittle-w3 {
    font-size: 3.3em;
    font-weight: 600;
    color: #333;
}
.video-right p{
	font-size: 16px;
	color: #666;
}
/*-- //offered services bottom --*/


/*-- footer --*/
footer {
    background: #212020;
    background: hsl(205, 82.2%, 18.8%);
}

.footer-title {
    font-size: 20px;
    letter-spacing: 1px;
	color: hsl(205, 30.2%, 84.8%);
}

.contact-info p a,
.contact-info p,
ul.links li a {
    color: #777;
	color: hsl(205, 25.2%, 70.8%);	
    font-size: 15px;
}
.contact-info .footer-style-w3ls p.date{
    font-size: 13px;
	font-style: italic;
}
.contact-info p span {
    display: block;
}

.footer-style-w3lsp a {
	color: #999;
	color: hsl(205, 82.2%, 80.8%);	
	
}
.contact-info p{
	line-height: 1.7 !important;
    letter-spacing: .48px !important;
}

.contact-info h4 {
    font-size: 15px;
    letter-spacing: 1px;
	color: #aaa;
	color: hsl(205, 80.2%, 72.8%);
}	
	.contact-info h4 i {
    color: #999;
}
/* quick links */
ul.links li a {
    font-size: 15px;
    letter-spacing: 1px;
	margin-bottom: 7px;
    display: inline-block;
}

ul.links li a:hover,
.footer-style-w3lsp a:hover {
    color: #999;
}

/* //quick links */

/* copyright */
.copy-right-top {
    background: hsl(205, 82.2%, 18.8%);	
}
.copy-right {
    letter-spacing: 1px;
    font-size: 15px;
	color: hsl(205, 82.2%, 80.8%);	
	
}

.copy-right a {
	color: #eee;
	color: hsl(205, 82.2%, 99%);	
	
}

.copy-right a:hover {
	color: hsl(205, 82.2%, 90.8%);	
	
}

.copy-right-top {
    border-color: rgba(255, 255, 255, 0.2) !important;
}

/* copyright */
/* //footer */

/*- inner banner --*/

.inner-banner {
    height: 250px;
}

/*- inner banner --*/

/*-- Contact page --*/
.contact_right input[type="text"], .contact_right input[type="email"], .contact_right textarea {
    outline: none;
    padding: 12px 0;
    background: none;
    color: #212121;
    font-size: 15px;
    width: 100%;
    letter-spacing: 1px;
    border: none;
    border-bottom: 1px solid #494949;
}
.contact_right input[type="email"] {
    margin: 1em 0;
}
.contact_right textarea {
    min-height: 145px;
    resize: none;
    margin-top: 1em;
}
.contact_right button {
    outline: none;
    padding: 15px 0;
	background: #6a67ce;
	background:hsl(205, 85.3%, 43%);
    color: #fff;
    font-weight: 500;
    letter-spacing: 2px;
    margin-top: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.contact_right button:hover {
	background:hsl(205, 85.3%, 53%);
}
.contact_left iframe {
    width: 100%;
    outline: none;
    border: none;
    min-height: 495px;
}
.information h4 {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #333;
    position: relative;
}
.information p {
    font-size: 16px;
    letter-spacing: 1px;
    color: #666;
    line-height: 28px;
}
.information p a,.information p span{
    color: #b84592;
}
.information p a:hover{
    color: #333;
}
.information span.fa {
    font-size: 30px;
    color: #b84592;
}

.contact_right,.contact_border{
    border: 2px dotted #b84592;
}
/*-- //Contact page --*/


/*-- team --*/
/* common styles for visual styles */
.team_container{
	display: -moz-grid;
	display:grid;
	grid-template-columns:220px;
	grid-gap: 20px;
	padding-bottom: 80px;
	justify-content: center;
	align-content: center;
}
.team_item img{
	max-height: 150px;
	max-width: 150px;
	border-radius: 50%;
	border-radius: 8px;
	margin:0 auto;
	display: block;
	border:1px solid hsl(205, 10.2%, 95.8%);
}
.team_item{
	border:2px solid hsl(205, 26.2%, 90.8%);
	padding:10px;
	padding-top:25px;
	border-radius: 20px;
	border-radius: 10px;
	text-align: center;
}
.team_body{
	text-align: center;
	padding-bottom: 40px;
}
.name p{
	padding-top: 1px;
	color:hsl(205, 25.2%, 41.8%);
	line-height: 1.4;
    font-size: 14px;
}
.name{padding-bottom: 5px;}
.name span{
	color:hsl(205, 15.2%, 41.8%);
	font-size: 13px;
}
._body p{
	padding-bottom:20px;
	color:hsl(205, 15.2%, 41.8%);
}
@media (min-width:991px){
	._body p{
		text-align: left;
		padding-right:20px;
		padding-left:20px;
	}
}
._socials i{
	font-size: 1.4rem;
}
._socials a{
	color: hsl( 199, 85%, 36%);
	transition: all 0.35s;
}
._socials a:hover{
	transition: all 0.35s;
	color: hsl( 199, 67%, 23%);
}
.team_body p{
	line-height: 1.5;
}
.team_height{
	min-height: 700px;
}
.team_body_title{
	text-align: center;
	padding-top:100px
}

.teamy_name {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    letter-spacing: 1px;
}
.teamy_post {
    margin-top: .5em;
    font-size: 14px;
    text-transform: capitalize;
    color: #6f6f6f;
    letter-spacing: 0.5px;
}
/* style 1 */

.teamy_content,.teamy_back {
 text-align: center;
}
.teamy_back-inner span.fa {
    color: #999;
    font-size: 14px;
    margin: 10px 5px;
    width: 15px;
    line-height: 35px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.teamy_back-inner span.fa.fa-facebook {
    color: #3b5998;
}
.teamy_back-inner span.fa.fa-facebook:hover {
	opacity:0.8;
}
.teamy_back-inner span.fa.fa-twitter {
    color: #1da1f2;
}
.teamy_back-inner span.fa.fa-twitter:hover{
	opacity:0.8;
}
.teamy_back-inner span.fa.fa-envelope-open {
    color: #dd4b39;
}
.teamy_back-inner span.fa.fa-envelope-open:hover {
	opacity:0.8;
}
/*-- //team --*/
/*-- move top --*/

.move-top {
    position: relative;
}

a.move-top {
    text-align: center;
    position: absolute;
    right: 1%;
    bottom: 0%;
}

a.move-top span{
    color: #fff;
    width: 36px;
    height: 36px;
    border: transparent;
    line-height: 2em;
    background: hsl(205, 82.2%, 40.8%);	
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -o-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
}

/*-- //move top --*/


/*-- Responsive design --*/

@media(max-width:1440px) {
}

@media(max-width:1366px) {
	.banner-info-grid h2 {
		font-size: 3em;
		line-height: 60px;
	}
	h3.tittle-w3 {
		font-size: 2.6em;
		line-height: 50px;
	}
}

@media(max-width:1280px) {
    
}
@media(max-width:1080px) {
	.banner-info-grid h2 {
		font-size: 2.8em;
		line-height: 55px;
	}
	.banner-info-grid p {
		font-size: 15px;
		margin: 1em 0;
	}
	.about-left h4 {
		font-size: 30px;
	}
	.about-text p {
		font-size: 14.5px;
	}
	h3.tittle-w3 {
		font-size: 2.2em;
		line-height: 45px;
	}
	.contact-info h4 {
		font-size: 14.5px;
		letter-spacing: 0px;
	}
	.serv-grids h3 {
		font-size: 18px;
		letter-spacing: 0px;
	}
	.information span.fa {
		font-size: 23px;
	}
	.banner-text {
		padding: 18vw 0 6vw;
	}
}

@media(max-width:1024px) {
	
	h2.heading,h3.heading {
		font-size: 40px;
	}
	.contact-info p a, .contact-info p, ul.links li a {
		font-size: 14px;
	}
	ul.partners-icon li i {
		font-size: 2.5em;
	}
	.inner-banner {
		height: 200px;
	}
	.f1 h3 {
		font-size: 21px;
	}
	.f1 p {
		font-size: 15px;
	}
	h4.feed-title {
		font-size: 20px;
	}
	ul.partners-icon li span.fa {
		font-size: 2.5em;
	}
}
@media (min-width:991px){
	.team_body{
		text-align: center;
		width:80%;
		left:10%;
		position: relative;
		padding-bottom: 40px;
	}
}
@media(max-width:991px) {
	.process_grids {
		grid-template-columns: repeat(2,1fr);
	}
	.login-icon {
		position: absolute;
		right: 10%;
	}
	.information p {
		font-size: 15px;
	}
	nav ul {
		/* margin-right: 3.5em; */
	}
	#logo a {
		font-size: .7em;
	}
	nav a {
		font-size: 15px;
		padding: 10px 8px;
	}
	.information h4 {
		font-size: 19px;
		letter-spacing: 1px;
	}
	.process-grids img {
		width: 200px;
	}
	.contact_left iframe {
		min-height: 445px;
	}
}

@media(max-width:900px) {
	nav ul {
		/* margin-right: 5.5em; */
	}
}
@media(max-width:800px) {
	nav ul {
		margin-right: 0em;
	}
	.login-icon {
		right: 12%;
	}
}
@media (max-width:767px){
	.core_value_container{
		grid-template-columns: repeat(3, 1fr);
	}
	.partners_container {
		padding-left: 40px;
		padding-right: 40px;
		grid-template-columns: repeat(3, 1fr);
	}
}
@media(max-width:768px) {
	nav { 
		float: none;
	}

	div#logo {
		float: none;
	}
	.banner-info-grid h2 {
		font-size: 2.5em;
		line-height: 50px;
	}
	.video-right p {
		font-size: 14px;
	}
	.inner-banner {
		height: 170px;
	}
	.information h4 {
		font-size: 20px;
		letter-spacing: 1px;
	}
	.contact_right h3 {
		font-size: 26px;
	}
	.login-icon {
		right: 11%;
	}
}

@media(max-width:736px) {
	.login-icon {
		right: 21%;
	}
	.about-text h3 {
		font-size: 24px;
	}
	h2.heading,h3.heading {
		font-size: 35px;
	}
	.contact_left iframe {
		min-height: 250px;
	}
	.f1 p {
		font-size: 14.5px;
	}
}
@media(max-width:684px) {
	.login-icon {
		right: 19%;
	}
}
@media(max-width:668px) {
	h3.tittle-w3 {
		font-size: 2em;
		line-height: 40px;
	}
	.contact_right h3 {
		font-size: 25px;
	}
	.banner-text {
		padding: 18vw 0 8vw;
	}
	.login-icon {
		right: 18%;
	}
	.information h4 {
		font-size: 18px;
	}
}
@media(max-width:640px) {
	.login-icon {
		right: 17%;
	}
}
@media(max-width:600px) {
	
	.banner-info-grid h2 {
		font-size: 2em;
		line-height: 45px;
	}
	#logo a {
		font-size: .6em;
	}
	.login-icon {
		right: 14.5%;
	}
}
@media(max-width:576px){
	.process_grids {
		grid-template-columns: 1fr;
		padding-left:30px;
		padding-right:30px;
	}
	.about_container {
		padding-left:30px;
		padding-right:30px;
		grid-template-columns: 1fr;
	}
	.core_value_container{
		padding-left:20px;
		padding-right:20px;
		grid-template-columns: repeat(2, 1fr);
	}
}
@media(max-width:568px) {
	.login-icon {
		right: 11.5%;
	}
	.banner-text {
		padding: 22vw 0 8vw;
	}
}

@media(max-width:480px) {
	ul.partners-icon li i {
		font-size: 2em;
	}
	.popup {
		margin: 8em 2em;
	}
	.popup iframe {
		height: 190px;
	}
	.inner-banner {
		height: 150px;
	}
	.banner-text {
		padding: 25vw 0 8vw;
	}
	.login-icon {
		right: 13.5%;
	}
	.information p {
		font-size: 14px;
	}
	.information span.fa {
		font-size: 20px;
	}
}
@media(max-width:414px) {
	@media(max-width:576px){
		.core_value_container{
			padding-left:0px;
			padding-right:0px;
			grid-template-columns: repeat(2, 1fr);
		}
	}
	.banner-info-grid h2 {
		font-size: 1.8em;
		line-height: 40px;
	}
	.banner-info-grid p {
		font-size: 14px;
	}
	.slider-info a.btn {
		font-size: 14px;
	}
	.popup {
		margin: 5em 1em;
		padding: 2em 1em;
	}
	.popup .close {
		top: 0px;
	}
	.login .btn {
		font-size: 14px;
		padding: 6px 20px;
	}
	.popup p {
		font-size: 14px;
	}
	.contact_right h3 {
		font-size: 22px;
	}
	.contact_right button {
		font-size: 14px;
		padding: 13px 0;
		letter-spacing: 1px;
	}
	.login-icon {
		right: 16%;
	}
	.banner-text {
		padding: 30vw 0 8vw;
	}
	.process-grids img {
		width: 160px;
	}
	ul.partners-icon li span.fa {
		font-size: 2em;
	}
	ul.links li a {
		font-size: 15px !important;
		margin-bottom: 5px;
	}
}

@media(max-width:384px) {
	.about_container {
		padding-left:0px;
		padding-right:0px;
	}
   
	.toggle {
		font-size: 15px;
	}
	.menu .toggle {
		width: 40%;
		font-size: 15px;
	}
	.banner-info-grid h2 {
		font-size: 1.6em;
		line-height: 32px;
	}	
	.slider-info a.btn {
		padding: 10px 20px;
		font-size: 13px;
	}
	.about-text h3 {
		font-size: 20px;
		line-height: 30px;
	}
	h2.heading,h3.heading {
		font-size: 30px;
	}
	h3.tittle-w3 {
		font-size: 1.6em;
		line-height: 35px;
	}
	.footer-title {
		font-size: 18px;
	}
	.copy-right {
		font-size: 14px;
	}
	.login p a {
		font-size: 13px;
	}
	.popup iframe {
		height: 150px;
	}
	.inner-banner {
		height: 120px;
	}
	.testimonials span.testimonials-name {
		font-size: 18px;
	}
	.contact_right h3 {
		font-size: 20px;
	}
	.login-icon a, .login-icon a:hover {
		font-size: .95em;
	}
	.login-icon {
		right: 17%;
	}
	.login label {
		font-size: 14px;
	}
}
@media (max-width:375px){
	.partners_container {
		padding-left: 0px;
		padding-right: 0px;
		grid-template-columns: repeat(3, 1fr);
	}
}
@media (max-width:365px){
	.core_value_item{
		padding: 15px;
	}
	.process_grids {
		padding-left:0px;
		padding-right:0px;
	}
}
@media(max-width:320px) {
    .slider-info a.btn {
		padding: 10px 15px;
		font-size: 12px;
	}
	.toggle {
		font-size: 14px;
		padding: 7px 10px;
		margin-top: 3px;
		margin-right: 0;
	}
	.detail h4.title a {
		font-size: 19px;
	}
}


/*-- //Responsive design --*/